# MPLABX Project Ignored Artifacts

funclist
Makefile-*
MPLABXLog.*
memoryfile.xml
nbactions.xml
nb-configuration.xml
Package-*.bash

*.d
*.elf
*.hex
*.lst
*.map
*.o
*.obj
*.obj.dmp
*.out
*.pre
*.p1
*.sym
*.sdb
*.traceinfo
*.zip

**/queuelogs/**
**/build/**
**/debug/**
**/disassembly/**
**/dist/**
**/html/**
**/nbbuild/**
**/nbdist/**
**/nbproject/private/**
*.log
defmplabxtrace.log.inx
.generated_files
